<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zry.shortcutdemo">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".ComposeActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>

                <category android:name="android.shortcut.conversation"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity-alias
            android:name=".LauncherActivity"
            android:targetActivity=".constraint.ConstaintLayoutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"/>
        </activity-alias>

        <activity
            android:name=".constraint.ConstaintLayoutActivity"
            android:label="@string/title_activity_constaint_layout"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>
